<form class="create-form" [formGroup]="newStaffForm" novalidate (ngSubmit)="onSubmit(newStaffForm.value)">

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="First Name" class="form-control" formControlName="name">
    </mat-form-field>
    <!-- <ng-container *ngFor="let validation of validation_messages.name">
      <mat-error *ngIf="newStaffForm.get('name').hasError(validation.type) && (newStaffForm.get('name').dirty || newStaffForm.get('name').touched)">{{validation}}</mat-error>
    </ng-container> -->
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Last Name" class="form-control" formControlName="surname">
    </mat-form-field>
    <!-- <ng-container *ngFor="let validation of validation_messages.surname">
      <mat-error *ngIf="newStaffForm.get('surname').hasError(validation.type) && (newStaffForm.get('surname').dirty || newStaffForm.get('surname').touched)">{{validation}}</mat-error>
    </ng-container> -->
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Title" class="form-control" formControlName="title">
    </mat-form-field>
    <!-- <ng-container *ngFor="let validation of validation_messages.title">
      <mat-error *ngIf="newStaffForm.get('title').hasError(validation.type) && (newStaffForm.get('title').dirty || newStaffForm.get('title').touched)">{{validation}}</mat-error>
    </ng-container> -->
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Email" class="form-control" formControlName="email">
    </mat-form-field>
    <!-- <ng-container *ngFor="let validation of validation_messages.email">
      <mat-error *ngIf="newStaffForm.get('email').hasError(validation.type) && (newStaffForm.get('email').dirty || newStaffForm.get('email').touched)">{{validation}}</mat-error>
    </ng-container> -->
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!newStaffForm.valid">Create</button>
    </div>
  </div>

</form>
