<app-page-header pageName="NUU Admin"></app-page-header>
<div>
  <mat-list role="list" *ngFor="let s of staff">
    <mat-list-item role="listitem">{{s.payload.doc.data().name}} {{s.payload.doc.data().surname}}</mat-list-item>
  </mat-list>
</div>
<form class="create-form" [formGroup]="newStaffForm" novalidate (ngSubmit)="onSubmit(newStaffForm.value)">
  <h2>Add Admin</h2>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="First Name" class="form-control" formControlName="name">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Last Name" class="form-control" formControlName="surname">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Title" class="form-control" formControlName="title">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Email" class="form-control" formControlName="email">
    </mat-form-field>
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit"
        [disabled]="!newStaffForm.valid">Create</button>
    </div>
  </div>
</form>

<h2>NUU Events</h2>
<!--turn this into a mat table instead of a list to make it cleaner-->
<!-- <div>
  <mat-list role="list" *ngFor="let event of events">
    <mat-list-item role="listitem">{{event.payload.doc.data().name}}
      {{event.payload.doc.data().expirationDate?.seconds * 1000 | date:'MM-dd-yyyy'}}
      <button mat-button (click)="addOrEditEvent(event)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="deleteEvent(event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <div> -->
      <table mat-table [dataSource]="events" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" (click)="addOrEditEvent(element)" class="pointer"> {{element.payload.doc.data().name}} </td>
      </ng-container>
<!--     
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.payload.doc.data().description}} </td>
      </ng-container> -->
    
      <ng-container matColumnDef="eventDate">
        <th mat-header-cell *matHeaderCellDef> Event Date </th>
        <td mat-cell *matCellDef="let element" (click)="addOrEditEvent(element)" class="pointer"> {{element.payload.doc.data().expirationDate?.seconds * 1000 | date:'MM-dd-yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="eventUrl">
        <th mat-header-cell *matHeaderCellDef> Event URL </th>
        <td mat-cell *matCellDef="let element" (click)="addOrEditEvent(element)" class="pointer"> {{element.payload.doc.data().routerLink}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
      <button mat-raised-button class="submit-button" color="primary" (click)="addOrEditEvent(null)">Create Event</button>
  <!-- </div>
</div> -->