<div>
  <mat-list role="list" *ngFor="let s of staff">
    <mat-list-item role="listitem">{{s.payload.doc.data().name}} {{s.payload.doc.data().surname}}</mat-list-item>
  </mat-list>
</div>
<form class="create-form" [formGroup]="newStaffForm" novalidate (ngSubmit)="onSubmit(newStaffForm.value)">
  <h2>Add Admin</h2>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="First Name" class="form-control" formControlName="name">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Last Name" class="form-control" formControlName="surname">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Title" class="form-control" formControlName="title">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Email" class="form-control" formControlName="email">
    </mat-form-field>
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit"
        [disabled]="!newStaffForm.valid">Create</button>
    </div>
  </div>

</form>

<form class="create-form" [formGroup]="newUpcomingEventForm" novalidate
  (ngSubmit)="onSubmitEvent(newUpcomingEventForm.value)">
  <h2>Add Event</h2>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Event Name" class="form-control" formControlName="name">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <textarea matInput placeholder="Event Description" class="form-control" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Event URL" class="form-control" formControlName="routerLink">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Expiration Date" class="form-control" formControlName="expirationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>


  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit"
        [disabled]="!newUpcomingEventForm.valid">Create</button>
    </div>
  </div>

</form>
