<mat-toolbar color="primary" class="mat-elevation-z6 mainNav">
  <button mat-button routerLink="/">Northern Utah United</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/about">Resources</button>
  <button mat-button routerLink="/events">Events</button>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Leagues and programs">
    Leagues &amp; Programs <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-menu>
  <button mat-button routerLink="/about">Recreation</button>
  <button mat-button routerLink="/about">Tryout Guide</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/about">Affinity Soccer</button>
  <div class="login">
    <div class="userInfo" *ngIf="auth.user$ | async as user; else login">
      <div class="userName">{{ user.displayName }}</div>
      <div class="logoutButton">
        <button mat-button class="button" (click)="auth.signOut()">Sign Out</button>
      </div>
    </div>

    <ng-template #login>
      <button mat-button class="button" (click)="auth.googleSignIn()">Admin Login</button>
    </ng-template>
  </div>
</mat-toolbar>
