<mat-toolbar color="primary" class="mat-elevation-z6 mainNav">
  <button mat-button routerLink="/">Northern Utah United</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/about">Resources</button>
  <button mat-button routerLink="/events">Events</button>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Leagues and programs">
    Leagues &amp; Programs <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="challenger">Challenger League</button>
      <button mat-menu-item>UYSA State Competition</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Destination Soccer Programs</button>
      <button mat-menu-item>Pickup Soccer</button>
    </mat-menu>
  </mat-menu>
  <button mat-button routerLink="/about">Recreation</button>
  <button mat-button routerLink="/about">Tryout Guide</button>
  <span class="spacer"></span>
  <a mat-button target="_blank" href="https://uysa.affinitysoccer.com/reg/index.asp?sessionguid=">Affinity Soccer</a>

  <button mat-button routerLink="admin">Admin</button>
  <div class="login">
    <div class="userInfo" *ngIf="auth.user$ | async as user;">
      <button mat-button [matMenuTriggerFor]="logoutMenu" aria-label="Logout Menu">
        <img class="userPhoto" src="{{user.photoURL}}" alt="user photo">
      </button>
      <mat-menu #logoutMenu="matMenu">
        <mat-menu #logoutMenu="matMenu">
          <button mat-menu-item (click)="auth.signOut()">Sign Out</button>
        </mat-menu>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>