<header class="aboutHeader">
  <div class="headerSection">
    <div class="headline">
      <h1 class="headerText">Northern Utah United</h1>
      <h4 class="subHeaderText">Youth Soccer at it's finest</h4>
    </div>
  </div>
</header>
<div class="container">
  <div class="cardList">
    <mat-card class="nuuIntroCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>See what we are about here at NUU!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tucked away in beautiful Cache Valley, Northern Utah United is Cache Valley's competitive soccer club. We
          welcome
          all ages to come play, and learn the best sport in the world!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/about">Learn More</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="nuuIntroCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>See what we are about here at NUU!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tucked away in beautiful Cache Valley, Northern Utah United is Cache Valley's competitive soccer club. We
          welcome
          all ages to come play, and learn the best sport in the world!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/about">Learn More</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="nuuIntroCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>See what we are about here at NUU!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tucked away in beautiful Cache Valley, Northern Utah United is Cache Valley's competitive soccer club. We
          welcome
          all ages to come play, and learn the best sport in the world!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/about">Learn More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
